@import url('./contacto__social/social_networks.css');
@import url('./contacto__form/contacto_form.css');

.contacto__container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto__title{
    margin: 1rem 0;
    color: rgb(219, 219, 219);
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 1px 0px 3px white,
    3px 1px 3px rgb(29, 22, 128),
    5px 3px 6px rgb(153, 67, 67),
    1px 0px 15px white;
}


.contacto__divisor{
    width: 90%;
    min-height: 600px;
    background-color: rgba(61, 42, 83, 0.527);
    margin: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

@media screen and (min-width:220px) {
    .contacto__divisor{
        width: 100%;
    }
}
@media screen and (min-width:468px) {
    .contacto__divisor{
        width: 95%;
    }
}
@media screen and (min-width:768px) {
    .contacto__divisor{
        width: 90%;
    }
}